<% include partials/header %>
<h1>Welcome to your personal dashboard</h1>

<form action = "/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name = "profile">
    <button type="submit">Upload!</button>
</form>
<% images.forEach((image) => { %>
    <img src="<%= image.location %>">
<% }) %>

<% include partials/footer %>