<% include partials/header.ejs %>
<h1>Register</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>

<% include partials/footer.ejs %>