.navbar {
    padding: 10px 30%;
    background: palegreen;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar a{
    color: rgb(52, 66, 64);
    font-weight: bold;
    padding: 5px 20px;
}

.navbar a:hover{
    text-decoration-style: dashed;
    background: rgb(180, 233, 217);
}